extends ./layout
block content
  each key in result
    div.isbn(id= key.isbn)
      img(src=key.cover)
      .name=key.title
      ul
        li=key.author
        li=key.description  
      button#button(class=key.isbn) 저장
